.room {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    background-color: #ffffff99;
}
.roomHeader {
    width: 100%;
    height: 55px;
    background-color: #075e54;
}
.picContainer {
    height: 55px;
    width: 50px;
    padding: 8px;
}
.picContainer > div {
    width: 100%;
    height: 100%;
}
.roomHeader {
    display: grid;
    grid-template-columns: 25px 50px auto 50px 50px 40px;
}
.roomHeader > .name {
    text-align: left;
    padding-top: 17.5px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.return {
    background-image: url('../assets/return.svg');
}
.back {
    padding-top: 9.5px;
    padding-left: 5px;
}
.roomHeader > div > .return {
    height: 17.5px;
}
.videoCall, .audioCall, .menu-room  {
    padding-top: 7.5px;
}
.video-call {
    background-image: url('../assets/video-call.svg');
}
.call {
    background-image: url('../assets/call.svg');
    transform: rotate(-90deg);
}
.roomHeader > div > i {
    height: 22.5px;
}